*{
margin:0;
padding:0;
}

body{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5))
	,url(1.png);
	width:100%;
	height:100vh;
	 background-size:cover;
	 background-position:center;
	 background-repeat:no-repeat;
	 
}

body h1{
	
	font-size:7vw;
	color:white;
	text-align:center;
	padding-top:8%;
	font-family:"Agency FB",sans-serif;
}


.button{
	padding-top:22%;
	margin-left:28%;
}

.btn{
	border:1px solid white;
	padding:10px 30px;
	color:white;
	text-decoration:none;
	font-size:3vw;
	background-color:#db0d8f;
	
}


.btn:hover{
	background-color:black;
}


    	

